
<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h3>SPECIALIZATION REGISTER</h3>
        </div>

        <div class="card-body">
            <form (ngSubmit) = "updateSpec()">

                <div class="row">
                    <div class="col-2">
                        <label for="specCode">Specialization Code</label>
                    </div>

                    <div class="col-4">
                        <input id="specCode" [(ngModel)]="spec.specCode" name="specCode" class="form-control">
                    </div>

                    <div class="col-4">
                        <span id="specCodeError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="specName">Specialization Name</label>
                    </div>
                    <div class="col-4">
                        <input id="specName" [(ngModel)] ="spec.specName" name="specName" class="form-control">
                    </div>
                    <span id="specNameError"></span>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="specNote">Specialization Note</label>
                    </div>
                    <div class="col-4">
                        <input id="specNote" [(ngModel)] ="spec.specNote" name="specNote" class="form-control">
                    </div>

                    <div class="col-4">
                        <span id="specNoteError"></span>
                    </div>
                </div>

                <input type="submit" value="UPDATE" class="btn btn-success">
            </form>
        </div>
        <div class="card-footer">
            <span>{{message}}</span>
        </div>
    </div>
</div>

