<div class="container">
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        <h3>DOCTOR REGISTER</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="regForm" (ngSubmit)="savePatient(regForm)">
          <div class="row">
            <div class="col-2">
              <label for="firstName">FIRST NAME</label>
            </div>
  
            <div class="col-4">
              <input
                type="text"
                id="firstName"
                formControlName="fName"
                class="form-control"
              />
            </div>
  
            <div class="col-4">
              <span id="firstNameError"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label for="lastName">LAST NAME</label>
            </div>
  
            <div class="col-4">
              <input
                type="text"
                id="lastName"
                formControlName="lName"
                class="form-control"
              />
            </div>
  
            <div class="col-4">
              <span id="lastNameError"></span>
            </div>
          </div>
  
          <div class="row">
            <div class="col-2">
              <label for="gender">GENDER</label>
            </div>
  
            <div class="col-4">
              <select
                id="gender"
                formControlName="gender"
                class="form-control"
              >
                <option value="">--SELECT--</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
              </select>
            </div>
  
            <div class="col-4">
              <span id="genderError"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label for="dob">dob</label>
            </div>
  
            <div class="col-4 input-group">
              <input
                type="date"
                id="dob"
                formControlName="dob"
                class="form-control date-picker"
                autocomplete="off"
              />
              </div>
  
            <div class="col-4">
              <span id="dobError"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label for="mStatus">Martial Status</label>
            </div>
  
            <div class="col-4">
              <select id="mStatus" formControlName="martialStatus" class="form-control">
                <option value="">--SELECT--</option>
                <option value="UnMarried">UnMarried</option>
                <option value="Married">Married</option>
                <option value="Divorce">Divorce</option>
              </select>
              </div>
  
            <div class="col-6">
              <span id="dobError"></span>
            </div>
          </div>
  
          <div class="row">
            <div class="col-2">
              <label for="email">EMAIL</label>
            </div>
  
            <div class="col-4">
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
              />
            </div>
  
            <div class="col-6">
              <span id="emailError"></span>
            </div>
          </div>
  
          <div class="row">
            <div class="col-2">
              <label for="mobile">MOBILE</label>
            </div>
  
            <div class="col-4">
              <input
                id="mobile"
                type="text"
                formControlName="mobile"
                class="form-control"
              />
            </div>
  
            <div class="col-6">
              <span id="mobileError"></span>
            </div>
          </div>
<!--   
          <div class="row">
            <div class="col-2">
              <label>Medical History</label>
            </div>
            
            <div class="col-4">
              <div class="row my-0">
                <div class="col">
                  <input
                    type="checkbox"
                    name="medicalHist"
                    id="medicalHist1"
                    value="Cancer"
                    [(ngModel)]="patient.medicalHist"
                  />
                  Cancer

                  <input
                    type="checkbox"
                    name="medicalHist"
                    id="medicalHist2"
                    value="Diabetes"
                    [(ngModel)]="patient.medicalHist"
                  />
                  Diabetes

                  <input
                    type="checkbox"
                    name="medicalHist"
                    id="medicalHist3"
                    value="Fever"
                    [(ngModel)]="patient.medicalHist"
                  />
                  Fever

                  <input
                    type="checkbox"
                    name="medicalHist"
                    id="medicalHist4"
                    value="Bp"
                    [(ngModel)]="patient.medicalHist"
                  />
                  BP
                </div>
              </div>

              <input
                type="checkbox"
                name="medicalHist"
                id="medicalHist5"
                value="pneumonia"
                [(ngModel)]="patient.medicalHist"
              />
              Pneumonia

              <input
                type="checkbox"
                name="medicalHist"
                id="medicalHist6"
                value="HeartStroke"
                [(ngModel)]="patient.medicalHist"
              />
              Heart Stroke
              <div class="row">
                <div class="col-3">
                  <input
                    type="checkbox"
                    name="medicalHist"
                    id="medicalHist7"
                    value="other"
                    [(ngModel)]="patient.medicalHist"
                  />
                  Other
                </div>
                <div class="col-9">
                  <input
                    class="form-control"
                    type="text"
                    name="ifOther"
                    id="ifOther"
                    [(ngModel)]="patient.ifOther"
                  />
                </div>
              </div>
            </div>
            <div class="col-6">
              <span id="medicalHistError"></span>
            </div>
          </div>
  
             -->
  
          <div class="row">
            <div class="col-2">
              <label for="presAddress">PRESENT ADDRESS</label>
            </div>
  
            <div class="col-4">
              <textarea
                id="presAddress"
                formControlName="presAddress"
                class="form-control"
              ></textarea>
            </div>
  
            <div class="col-4">
              <span id="presAddressError"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label for="commAddress">Communication ADDRESS</label>
            </div>
  
            <div class="col-4">
              <textarea
                id="commAddress"
                formControlName="commAddress"
                class="form-control"
              ></textarea>
            </div>
  
            <div class="col-4">
              <span id="commAddressError"></span>
            </div>
          </div>
  
          <div class="row">
            <div class="col-2">
              <label for="note">NOTE</label>
            </div>
  
            <div class="col-4">
              <textarea
                id="note"
                formControlName="note"
                class="form-control"
              ></textarea>
            </div>
  
            <div class="col-4">
              <span id="noteError"></span>
            </div>
          </div>
  
          <button class="btn btn-success" type="submit">REGISTER</button>
        </form>
      </div>
  
      <div class="card-footer" *ngIf="message != ''">
        <span>{{ message }}</span>
      </div>
    </div>
  </div>
