
<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h3>SPECIALIZATION REGISTER</h3>
        </div>

        <div class="card-body">
            <form [formGroup]="specForm" (ngSubmit) = "saveSpec(specForm)">

                <div class="row">
                    <div class="col-2">
                        <label for="specCode">Specialization Code</label>
                    </div>

                    <div class="col-4">
                        <input id="specCode" formControlName="code" class="form-control">
                    </div>

                    <div class="col-6">
                        <!-- <span *ngFor="specForm.control['code'].haserror(required)">
                            Please Enter Specialization Code
                        </span> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="specName">Specialization Name</label>
                    </div>
                    <div class="col-4">
                        <input id="specName" formControlName="name" class="form-control">
                    </div>
                    <span id="specNameError"></span>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="specNote">Specialization Note</label>
                    </div>
                    <div class="col-4">
                        <input id="specNote" formControlName="note" class="form-control">
                    </div>

                    <div class="col-4">
                        <span id="specNoteError"></span>
                    </div>
                </div>

                <input type="submit" value="REGISTER" class="btn btn-success" [disabled]="!specForm.valid">
            </form>
        </div>
        <div class="card-footer">
            <span>{{message}}</span>
        </div>
    </div>
</div>
