<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h3>DOCTOR UPDATE</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)=updateDoctor()>
                <div class="row">
                    <div class="col-2">
                        <label for="name">NAME</label>
                    </div>

                    <div class="col-4">
                        <input type="text" id="name" [(ngModel)]="doc.name" name="name" class="form-control">
                    </div>

                    <div class="col-4">
                        <span id="nameError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="gender">GENDER</label>
                    </div>

                    <div class="col-4">
                        <select id="gender" [(ngModel)]="doc.gender" name="gender" class="form-control">
                            <option value="">--SELECT--</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>

                    <div class="col-4">
                        <span id="genderError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="email">EMAIL</label>
                    </div>

                    <div class="col-4">
                        <input type="email" id="email" [(ngModel)]="doc.email" name="email" class="form-control">
                    </div>

                    <div class="col-4">
                        <span id="emailError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="mobile">MOBILE</label>
                    </div>

                    <div class="col-4">
                        <input id="mobile" type="text" [(ngModel)]="doc.mobile" name="mobile" class="form-control">
                    </div>

                    <div class="col-4">
                        <span id="mobileError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="specialization">SPECIALIZATION</label>
                    </div>

                    <div class="col-4">
                       
                        <select class="form-control" id="specialization" [(ngModel)]="doc.specialization.specId" name="specialization.specId">
                            <option value="">--SELECT--</option>
                            <option *ngFor="let spec of allSpecs" [ngValue]="spec.specId">{{spec.specName}}</option>
                            
                        </select>
                    </div>

                    <div class="col-4">
                        <span id="specializationError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="address">ADDRESS</label>
                    </div>

                    <div class="col-4">
                        <textarea id="address" [(ngModel)]="doc.address" name="address" class="form-control"></textarea>
                    </div>

                    <div class="col-4">
                        <span id="addressError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="note">NOTE</label>
                    </div>

                    <div class="col-4">
                        <textarea id="note" [(ngModel)]="doc.note" name="note" class="form-control"></textarea>
                    </div>

                    <div class="col-4">
                        <span id="noteError"></span>
                    </div>
                </div>

                <button class="btn btn-success" type="submit">UPDATE</button>


                
            </form>
        </div>
    </div>
</div>

