<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h3>DOCTOR DATA</h3>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <tr class = "bg-secondary text-white">
                    <th>#</th>
                    <th>NAME</th>
                    <th>SPECIALIZATION</th>
                    <th>GENDER</th>
                    <th>EMAIL</th>
                    <th>MOBILE</th>


                    <th>OPERATION</th>
                    
                </tr>

                <tr *ngFor="let doc of docs; let i = index; trackBy:trackById">
                    <td>{{i+1}}</td>
                    <td>{{doc.name}}</td>
                    <td>{{doc.specialization.specName}}</td>
                    <td>{{doc.gender}}</td>
                    <td>{{doc.email}}</td>
                    <td>{{doc.mobile}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteDoc(doc.id)">DELETE</button> |
                        <button class="btn btn-info btn-sm"(click)="editDoc(doc.id)">EDIT</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-footer">
            <span>{{message}}</span>
        </div>
    </div>
</div>

