<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h3>SPECIALIZATION DATA</h3>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <tr class = "bg-secondary text-white">
                    <th>#</th>
                    <th>CODE</th>
                    <th>NAME</th>
                    <th>NOTE</th>
                    <th>OPERATION</th>
                </tr>

                <tr *ngFor="let spec of specs; let i = index; trackBy:trackById">
                    <td>{{i+1}}</td>
                    <td>{{spec.specCode}}</td>
                    <td>{{spec.specName}}</td>
                    <td>{{spec.specNote}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteSpec(spec.specId)">DELETE</button> |
                        <button class="btn btn-info btn-sm"(click)="editSpec(spec.specId)">EDIT</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-footer">
            <span>{{message}}</span>
        </div>
    </div>
</div>
